table.sitzungen {
    text-align: left;
}
div.titel {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.linkButton {
    background:none!important;
    border:none!important; 
    padding:0!important;    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    /*text-decoration:underline;*/
    cursor:pointer;
}
.linkButton:hover {
    text-decoration:underline;
    color:orange;
}
