.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}
.cs5E98E930{color:#000000;background-color:transparent;font-family:Arial;font-size:10pt;font-weight:bold;font-style:normal;}
.csA16174BA{color:#000000;background-color:transparent;font-family:Arial;font-size:10pt;font-weight:normal;font-style:normal;}
