<?xml version="1.0" encoding="utf-8" ?>
<suisseId>
  <trustedEndpoints>
    <endpoint identifyingName="IdPX" friendlyName="IdP X" requestUrl="https://suisseid/idpx/request.do" certificateFile="C:\certs\idPX.cer"/>
    <endpoint identifyingName="IdPY" friendlyName="IdP Y" requestUrl="https://suisseid/idpy/request" certificateFile="C:\certs\idPY.cer"/>
  </trustedEndpoints>
  <trustedCACertificates certificateFolder="C:\certs\TrustedCa"/>
  <extendedCertificateStore certificateFolder="C:\certs\ExtendedCertStore"/>
  <signingCertificate certificateFile="C:\certs\SP_SigningCertificate.cer" password="pw1"/>
</suisseId>
