<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="MIDLog" value="1" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TokenSigningCertificate" value="Signing.pfx" />
    <!-- SRVMID01 -->
    <add key="TokenSigningCertificatePassword" value="123" />
    <!-- Cert2014DLG! -->
    <add key="SslClientCertificate" value="SRVMID01.pfx" />
    <add key="SslClientCertificatePassword" value="Cert2014DVD!" />
    <add key="BypassMobileId" value="0" />
    <add key="SmtpHost" value="smtp.live.com" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUser" value="alejandroamrein@hotmail.com" />
    <add key="SmtpPassword" value="aa$Live%57" />
    <add key="SmtpFrom" value="alejandroamrein@hotmail.com" />
    <add key="SmtpTo" value="alejandroamrein@hotmail.com" />
    <add key="SmtpSubject" value="Behördenlösung Antrag Nummer {0}" />
    <add key="SmtpEnableSsl" value="1" />
    <add key="MobileIdText" value="Anmeldeanforderung" />
    <add key="SslSwisscomCertificate" value="swisscom-ca.crt" />
    <add key="SwisscomServiceUrl" value="https://mobileid.swisscom.com/soap/services/MSS_SignaturePort" />
    <add key="SwisscomServiceUrlOld" value="https://soap.mobileid.swisscom.com/soap/services/MSS_SignaturePort" />
    <add key="AP_ID" value="mid://sp.dialog.ch" />
    <add key="AP_PWD" value="disabled" />
    <add key="LoginPollMs" value="2000" />
    <add key="AnimVelocity" value="500" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <authentication mode="None" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DialogConfigBLEntities" connectionString="metadata=res://*/Models.DialogConfigBLModel.csdl|res://*/Models.DialogConfigBLModel.ssdl|res://*/Models.DialogConfigBLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMREIN-HP\SQL2014;initial catalog=DialogConfigBL;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>