@{
    ViewBag.Title = "Behördenlösung - " + ViewBag.UserName;
}

<br />
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Sitzungen</h3>
            <p>Verwaltung von Sitzungen, Traktanden und Kommentare</p>
            <p><a class="btn btn-primary btn-lg" href="~/Sitzungen/Sitzungen" role="button">Starten</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Pendenzen</h3>
            <p>Auflistung der Pendenzen</p>
            <p><a class="btn btn-primary btn-lg" href="~/Pendenzen/Index" role="button">Starten</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Behördenverzeichnis</h3>
            <p>Verwaltung der Behördenverzeichnisses</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Starten</a></p>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Belege</h3>
            <p>Validierung von Belegen mittels SwissSign</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Starten</a></p>
        </div>

    </div>
</div>

