USE [Duedingen]
GO
/****** Object:  Table [dbo].[aaaTable_1]    Script Date: 23.11.2016 13:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aaaTable_1](
	[Data] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
